<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper class -->
<mapper namespace="com.chen.book.mapper.BookMapper">

   <!--  List<Book> getBookList();-->
    <select id="getBookList" resultType="com.chen.book.pojo.Book">
        select * from t_book where bookStatus = 0
    </select>

    <!--Book getBook(Integer id);-->
    <select id="getBook" resultType="com.chen.book.pojo.Book">
        select * from t_book where id = #{id}
    </select>

</mapper>