<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper class -->
<mapper namespace="com.chen.book.mapper.UserMapper">

    <!--     User getUser(@Param("uname") String uname, @Param("pwd") String pwd);-->
    <select id="getUser" resultType="com.chen.book.pojo.User">
        select * from t_user where uname like #{uname} and pwd like #{pwd}
    </select>

    <select id="get" resultType="com.chen.book.pojo.User">
        select * from t_user where uname = #{userBean}
    </select>


</mapper>