<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/register.css}" />
    <style type="text/css">
      .login_form {
        height: 420px;
        margin-top: 25px;
      }
    </style>
  </head>
  <body>
    <div id="login_header">
      <a href="../index.html">
        <img class="logo_img" alt="" th:src="@{/static/img/logo.gif}" />
      </a>
    </div>

    <div class="login_banner">
      <div class="register_form">
        <h1>Register</h1>
        <form th:action="@{/regist}" method="post">
          <div class="form-item">
            <div>
              <label>Account:</label>
              <input type="text" name="uname" placeholder="Please input account name" />
            </div>
            <span class="errMess">account name should include 6~16 numbers and letters</span>
          </div>
          <div class="form-item">
            <div>
              <label>Password:</label>
              <input type="password" name="pwd" placeholder="Please input password" />
            </div>
            <span class="errMess">password should more than 8 letters</span>
          </div>
          <div class="form-item">
            <div>
              <label>Confirm:</label>
              <input type="password" placeholder="Please confirm password" />
            </div>
            <span class="errMess">Password input is different</span>
          </div>
          <div class="form-item">
            <div>
              <label>Mail address:</label>
              <input type="text" name="email" placeholder="Please input mail address" />
            </div>
            <span class="errMess">Please input proper mail address</span>
          </div>
          <div class="form-item">
            <div>
              <label>captcha:</label>
              <div class="verify">
                <input type="text" name="verifyCode" placeholder="" />
                <img th:src="@{/Kaptcha.jpg}" alt="" />
              </div>
            </div>
            <span class="errMess">Please input correct captcha</span>
          </div>
          <button class="btn">Regist</button>
        </form>
      </div>
    </div>
    <div id="bottom">
      <span>
        尚硅谷书城.Copyright &copy;2015
      </span>
    </div>
  </body>
</html>
