<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- scan all the package exclude controller(already scanned by springmvc) -->
    <context:component-scan base-package="com.chen.book">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <!--jdbc.properties-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!-- dataSource -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- transaction manager -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- activate annotation transaction, if id=transactionManager(default), this tx can be ignored-->
<!--    <tx:annotation-driven transaction-manager="transactionManager"/>-->


    <!-- mybatis -->
    <!-- add sqlSessionFactoryBean, then sqlSessionFactory can be get from ioc of spring -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- set mybatis core xml and other properties -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="com.chen.book.pojo"/>
    </bean>

    <!-- mapper interface scanner, implementation class created by sqlSession from mapper
    can be accessed from IOC container -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.chen.book.mapper"/>
    </bean>


<!--    <bean id="page" class="com.atguigu.myssm.myspringmvc.PageController"></bean>-->

</beans>